# .NET
bin/
obj/
publish/
*.db
*.db-journal

# Node / Frontend
node_modules/
dist/
.env
.env.local
.env.production.local

# IDEs
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

# OS
Thumbs.db
Desktop.ini
.DS_Store
